* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
}

html {
  font-size: 16px;
}

body {
  background-color: #FAF8ED;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.search-input-header {
  @apply mb-2 text-lg leading-4;
}

.search-input-text {
  @apply mr-[26px] text-xs leading-3 text-lightgrey-text-color cursor-pointer;
}

.btn {
  @apply border-[1.4px] rounded-[27px] font-medium cursor-pointer;
}

.slider-btn {
  @apply w-[54px] h-[54px] border border-primary-header-color rounded-full cursor-pointer;
}

.slider-btn-small {
  @apply w-10 h-10 border border-primary-header-color rounded-full cursor-pointer;
}

.card-bg {
  @apply w-[166px] h-[178px] p-4 text-center bg-bg-white-color rounded-[14px];
}

.tour-card {
  @apply w-[386px] mr-[30px] px-3 pt-3 pb-9 border-2 border-bg-white-color rounded-[16px] text-ellipsis;
}

.tour-header {
  @apply mt-6 mb-3.5 font-main font-semibold text-2xl leading-6 text-primary-header-color text-ellipsis;
}

.tour-text {
  @apply font-main mb-[35px] text-sm leading-[14px] text-primary-text-color text-ellipsis;
}

.tour-price {
  @apply font-main font-semibold text-2xl text-primary-header-color leading-5;
}

.tour-price-span {
  @apply font-main text-base font-normal text-primary-text-color leading-5;
}

.book-btn {
  @apply w-[100px] h-[37px] ml-[auto] flex justify-center items-center border text-primary-header-color bg-white-color border-primary-header-color rounded-[46px];
}

.book-btn-text {
  @apply font-main text-[14px] leading-[14px];
}

.city-btn {
  @apply px-5 py-2.5 font-nav text-sm leading-[14px] rounded-[30px] text-primary-header-color bg-white-color border border-primary-header-color;
}

.figcaption-light {
  @apply absolute top-6 left-6 bg-white text-sm px-2.5 py-1.5 rounded-[16px];
}

.figcaption-dark {
  @apply absolute top-6 left-6 bg-primary-header-color text-white text-sm px-2.5 py-1.5 rounded-[16px];
}

.figcaption-country {
  @apply font-main font-semibold text-xl text-white;
}

.figcaption-city {
  @apply font-main text-sm text-white;
}

.footer-header {
  @apply mb-2 font-main font-medium text-[18px] text-dark-grey xl:mb-[22px] xl:leading-[18px];
}

.footer-text {
  @apply leading-7 font-main font-normal text-[14px] text-light-grey xl:leading-[34px];
}

img,
svg {
  display: initial;
}

@media (hover: none) and (pointer: coarse) and (max-width: 767px) {
  input {
    @apply text-base #{!important}
  }
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px
}

*::-webkit-scrollbar-thumb {
  background-color: #0f172a;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(29, 28, 28, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

body:not(.user-is-tabbing) *:focus {
  outline: none !important;
}
